html {
    margin: auto;
}
body {
    background: white;
}
.h1 {
    text-align: center;
}
table, th, td {
  border: 1px solid black;
  text-align: center;
  margin: 5px.5px;
}
form {
    display: inline;
}
span {
    margin: 5px;
}
